FIREBASE_PROJECT_ID=parkingapp-326c1
FIREBASE_SERVICE_ACCOUNT_FILE=/home/server/parking-alpr/parking-alpr/firebase-service-account.json
ALPR_DB_FILE=/home/server/parking-alpr/parking-alpr/parking.sqlite3
ALPR_DEFAULT_PARKING_ID=p1
ALPR_DEFAULT_TOTAL_PLACES=100
PORT=5001
